<div class="details-stats-header">
    <h1>
        Évolution
    </h1>
</div>
<div class="evolution-stats">
    
    <div class="evolution-stats-container">
        <div class="stats-header">
            <h1>
                Globale
            </h1>
        </div>
        <div class="evolution-stats-content-container">
            <div class="evolution-box-stats-container">
                <box-stat></box-stat>
            </div>
            <div class="evolution-box-stats-container">
                <box-stat></box-stat>
            </div>
        </div>
    </div>
    <div class="evolution-stats-container">
        <div class="stats-header">
            <h1>
                Partie précédente
            </h1>
        </div>
        <div class="evolution-stats-content-container">
            <div class="evolution-box-stats-container">
                <box-stat></box-stat>
            </div>
            <div class="evolution-box-stats-container">
                <box-stat></box-stat>
            </div>
        </div>
    </div>
</div>