.game-container{
  display: flex;
  height: 90%;
}

.playable-zone{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blocks-words-component{
    width: 100%;
    height: auto;
    justify-content: center;
}

.words{
  flex-direction: row;
  width: 100%;
  height: auto;
}


.writing-space {
  margin-bottom: 15px;
  margin-top: 5%;
  width: 60%;
}

.writing-space label {
  display: block;
  font-weight: bold;
  color: white;
  margin-bottom: 1%;
}

.writing-space input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.writing-space button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.writing-space button:hover {
  background-color: #0056b3;
}

.input-container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  margin-bottom: 3%;
}

.input-container input{
  flex: 5;
}

.input-container button{
  flex: 1;
}


@font-face{
  font-family: "Digital Font";
  src: url('../../../assets/font/DS-DIGIT.TTF');
}

.chrono-container{
  width: 40%;
  text-align: center;
  background-color: black;
  border: gray 3px solid;
}

.chrono-container p{
  font-family: "Digital Font", serif;
  color: red;
  font-size: 20vh;
  margin: 0;
}


.endGameStats {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

.end-stat-content {
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
}

.vertical-bar {
  margin: -2px auto 0;
  width: 150px;
  border-radius: 5px;
  background-color: #4a5d83;
  height: 130px;
  display: flex;
  justify-content: center;
  align-self: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.vertical-bar a {
  margin: auto 0;
  text-decoration: none;
  -webkit-text-fill-color: #fff;
}

.replay-button-container{
  transform: scale(1.3);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.replay-button {
  box-shadow: 0px 0px 10px #F27F1B;
  appearance: button;
  background-color: #b76115;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.replay-button:after {
  background-clip: padding-box;
  background-color: #F27F1B;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.replay-button:main,
.replay-button:focus {
  user-select: auto;
}

.replay-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.replay-button:disabled {
  cursor: auto;
}

.replay-button:active {
  border-width: 2px 0 0;
  background: none;
}

.replay-button a{
  font-weight: 900;
  -webkit-text-fill-color: #fff;
}

.horizontal-bar {
  z-index: 2;
  height: 130px;
  background-color: #4a5d83;
  width: 80%;
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5px;
  flex-direction: column;
}


.score-text {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff4ec;
  font-weight: 800;
}

.stars {
  margin-top: -10px;
  font-size: 30px;
  color: #F27F1B;
  font-weight: 900;
  height: 30%;
  display: flex;
}

.stars img{
  max-height: 100%;
}






