<div class="game-container">
  <cloud-background></cloud-background>
  <game-board></game-board>
  <div class="playable-zone">
    <div class="mode-name" [ngClass]="{'green': config.name === 'débutant', 
        'orange': config.name === 'intermediaire', 
        'red': config.name === 'avancé', 
        'cyan': config.name === 'perso'}">
      <span> Mode {{config.name}} </span>
    </div>
    <div class="blocks-words-component">
      <block-word></block-word>
    </div>

    <div class="writing-space">
      <form [formGroup]="wordForm" autocomplete="off">
        <label for="word"></label>
        <div class="blur-effect"></div>  
        <div class="end-game-button-container">
          <button class="end-game-button" (click)="endGame()">FIN PARTIE</button>
        </div>
        <div class="input-container">
          <input type="text" id="word" #word formControlName="word" (input)="verifWord()" placeholder="Tapez les Mots ici">
        </div>
        
      </form>
    </div>
    <div *ngIf="show2ndChance" class="second-chance">
      <p>Vous avez le droit à une seconde tentative</p>
    </div>
    <div class="chrono-container">
      <p> {{time}}</p>
    </div>
  </div>
  <game-event></game-event>
  <div *ngIf="endGameDisplay" class="endGameStats">
    <div class="end-stat-content">
      <div class="horizontal-bar">
        <h1 class="score-text">Score : 253</h1>
          <span class="star-rating">
              <star *ngFor="let _ of [1, 2, 3]" [isEndGame]="true"></star>
          </span>
      </div>
      <div class="vertical-bar">
        <div class="replay-button-container">
          <a href="/game">
            <button class="replay-button" role="button">Rejouer</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

