.board-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 30vw;
    border: solid 5px red;
    background-color: #0f1d388b;
}

.board {
    display: grid; 
    grid-template-columns: repeat(10, 30px); /* 10 colonnes de 30px chacune */
    grid-template-rows: repeat(20, 30px); /* 20 lignes de 30px chacune */
    grid-gap: 0px; 
  }
  
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .cell {
    width: 30px; /* Largeur de la cellule */
    height: 30px; /* Hauteur de la cellule */
    background-color: #fff; /* Couleur de fond par défaut */
    border: 1px solid #000; /* Bordure de la cellule */
  }
  
  .cell.filled {
    background-color: #00f; /* Couleur de fond pour les cellules remplies */
  }