<div class="box-stat-container">
    <div class="icon-container">
        <div class="icon-background">
            <img src="../../../../../assets/ic_accuracy.svg" class="icon-stat-pic">
        </div>
    </div>
    <div class="box-stats">
        <h3 class="bottom-box-stats-title">
            Précision
        </h3>
        <p class="bottom-box-stats-subtile">
            par mots
        </p>
        <h1 class="bottom-box-stats-value">
            70%
        </h1>    
        <div class="glow"></div>
    </div>

</div>