.difficulty-container{
    height: 20vw;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4a5d83;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(107, 204, 242,0.7);
}