<div class="config-list-component">
  <div *ngIf="showConfigList" class="config-list config-list-appear">
    <div class="scroll-container-config">
      <div class="caracteristics-bar">
        <div class="item-caract">Nom</div>
        <div class="item-caract">Temps</div>
        <div class="item-caract">Long max</div>
        <div class="item-caract">Erreur</div>
        <div class="item-caract"></div>
      </div>
      <div (click)="startGameWithConfig(config)" class="config" *ngFor="let config of configList">
        <div class="config-caract">{{config.name}}</div>
        <div class="config-caract">{{config.time}}</div>
        <div class="config-caract">{{config.length}}</div>
        <div class="config-caract">{{config.errorAllowed}}</div>
        <div class="config-caract" (click)="deleteConfig(config)"><img src="../../../assets/trash.png" alt="trash_icon"></div>
      </div>
    </div>
  </div>
  <div class="add-profil-button-container">
    <button *ngIf="showConfigList" class="add-profil-button button-appear" (click)="showCreateConfiguration()">Ajouter configuration</button>
  </div>

  <app-config-creation *ngIf="showCreateConfig"></app-config-creation>
</div>
