<div class="background-overlay"></div>
<div class="pregame-container">
    <div class="left-container">
        <student-list [selectedStudentIdToDelete]="selectedStudentIdToDelete"></student-list>
    </div>
    <div class="mid-container">
        <difficulty-list (hover)="onDifficultyHover($event)" (hoverEnd)="onDifficultyHoverEnd()"></difficulty-list>
    </div>
    <div class="right-container">
        <difficulty-detail [currentDifficulty]="selectedDifficulty"></difficulty-detail>
        <!--<configuration-component></configuration-component> on l'affichera si on clique sur personnalisé-->
    </div>
</div>
