<div class="header-container">
  <h1>Évolution et stats par mode</h1>
</div>
<div class="stats-content">
  <div class="graph-stat-container">
    <graph [selectedGameMode]="selectedGameMode"></graph>
  </div>
  <!--<button (click)="forceUpdate()">Forcer l'Affichage</button>-->
  <div class="main-container">
    <div class="numeric-stats-container">
      <div class="stat-container">
        <h1 class="title" id="wpm">{{ statsAvancee?.wpm }}</h1>
        <p class="stat-description">Moyenne de mots par minute</p>
      </div>
      <div class="stat-container">
        <h1 class="title" id="scoreMoyen">{{ statsAvancee?.scoreMoyen }}</h1>
        <p class="stat-description">Score moyen</p>
      </div>
      <div class="stat-container">
        <h1 class="title" id="pourcentageErreur">{{ getFormattedPourcentageErreur(statsAvancee?.pourcentageErreur) }}</h1>
        <p class="stat-description">Pourcentage d'erreurs</p>
      </div>
    </div>
    <div class="button-mode-container">
      <button class="mode-button general" [disabled]="selectedPlayerId == null" (click)="updateGameMode('general')">Général</button>
      <button class="mode-button debutant" [disabled]="selectedPlayerId == null" (click)="updateGameMode('debutant')">Débutant</button>
      <button class="mode-button intermediaire" [disabled]="selectedPlayerId == null" (click)="updateGameMode('intermediaire')">Intermédiaire</button>
      <button class="mode-button avance" [disabled]="selectedPlayerId == null" (click)="updateGameMode('avance')">Avancé</button>
      <button class="mode-button perso" [disabled]="selectedPlayerId == null" (click)="updateGameMode('perso')">Perso</button>
    </div>
  </div>
</div>