<div class="stat-graph">
  <div class="graph-container">
    <img ngSrc="../../../../../assets/graphdebutant.png" alt="img-graph-inconnu" height="452" width="751">
  </div>
  <div class="graph-container">
    <img ngSrc="../../../../../assets/graphintermediaire.png" alt="img-graph-inconnu" height="452" width="751">
  </div>
  <div class="graph-container">
    <img ngSrc="../../../../../assets/graphavance.png" alt="img-graph-inconnu" height="452" width="751">
  </div>
  <div class="graph-container">
    <img ngSrc="../../../../../assets/graphavance.png" alt="img-graph-inconnu" height="452" width="751">
  </div>
  <div class="graph-container">
    <img ngSrc="../../../../../assets/graphavance.png" alt="img-graph-inconnu" height="452" width="751">
  </div>
</div>
