:root {
  --background-color: #304673; /* background */
  --box-color: #4a5d83; /* box */
}

.stats-container{
  display: flex;
  width: 90%;
  height: 40vh;
  background-color: var(--box-color);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.4);
}

.stats-content{
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
}


.graph-stat-container{
  margin: 20px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-stat-container img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px; 
  transition: transform 0.4s cubic-bezier(0,.72,.35,.99), opacity 0.4s cubic-bezier(0,.72,.35,.99);
}

.graph-stat-container img[data-status="unknown"]{
  transform: scale(0);
}

.graph-stat-container img[data-status="active"]{
  transform: scale(1);
}

.numeric-stats-container{
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.stat-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


p.stat-description{
  margin-top: 0px;
  color: #a6a6a6;
  font-size: 1vw;
  font-family: 'Roboto', sans-serif;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-mode-container{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
  margin-bottom: 20px;
}

.mode-button{
  border: transparent;
  width: 15%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(52, 51, 51);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 1vw;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
}

.mode-button.active {
  border: solid 1px #fff;
  backface-visibility: hidden;
  animation: clicked 0.4s ease forwards;
}

@keyframes clicked {
  0% {
      transform: scaley(1.2);
  }
  100% {
      transform: scaley(1.3);
      font-style: bold;
  }
}

.mode-button:not(.active):hover {
  animation: transform 0.3s ease forwards;
}

@keyframes transform {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scaley(1.2);
  }
}

.general{
  margin-right: auto;
  margin-left: 20px;
}

.debutant {
  background-color: rgb(57, 183, 57);
}
.intermediaire {
  background-color: #F27F1B;
}
.avance {
  background-color: rgb(191, 49, 36);
}
.perso {
  background-color: #6bccf2;
  margin-right: auto;
}

.title[data-status="unknown"]{
  transform: scale(0);
}

.title[data-status="active"]{
  transform: scale(1);
}

h1.title{
  color: #fff;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  transition: transform 0.4s cubic-bezier(0,.72,.35,.99), opacity 0.4s cubic-bezier(0,.72,.35,.99);
}