<div class="popup-container">
  <div class="popup">
    <div class="popup-content">
      <div class="popup-header">
        <span>&larr;</span>
        <h2>Créer une nouvelle configuration</h2>
      </div>
      <form [formGroup]="configForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-cell">
          <label for="name"> Nom de la configuration </label>
          <input type="text" id="name" formControlName="name">
        </div>
        <div class="form-cell">
          <label for="time"> Temps maximum par caractère </label>
          <input type="text" id="time" formControlName="time">
        </div>
        <div class="form-cell">
          <label for="length"> Longueur maximale de mot </label>
          <input type="text" id="length"  formControlName="length">
        </div>
        <div class="form-cell">
          <label for="radioOui"> Droit à l'erreur:  </label>
          <div class="radiosButtons">
            <label> <input type="radio" id="radioOui" formControlName="errorAllowed" [value]="true"> <span>oui</span> </label>
            <label> <input type="radio" id="radioNon" formControlName="errorAllowed" [value]="false"> <span>non</span> </label>
          </div>
        </div>
      </form>
      <div class="start-button">
        <button class="play-button" (click)="navigateToGame() ; onSubmit()" [disabled]="!isConfigFormValid()" role="button">Jouer</button>
        <span class="disabling-text">Formulaire non complet</span>
      </div>
    </div>
  </div>
</div>
