.game-stat-container{
  display: grid;
  grid-template-columns: repeat(5, 5fr); 
  margin: 10px 20px;
  justify-items: center;
  grid-row-gap: 10px;
  background-color: rgba(168, 235, 255, 0.212);
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
}

.icon-detail-container{
  margin-right: 13px;
  margin-top: 4px;
  transition: all .3s ease-in-out;

  &:hover{
    cursor: pointer;
    transform-origin: center center;
    transform: scale(1.15);

    & svg{
      fill: #F27F1B;
    }
  }

  & svg {
    width: 2vw;
    height: 2vw;
    fill: #fff;
    vertical-align: middle;
    transition: all .3s ease-in-out;
  }
}

.game-stat-container > *{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


