<div *ngFor="let resume of gameResumes" class="game-stat-container">
  <div class="date-container">
    <p class="date-content">
      {{ resume.date }}
    </p>
  </div>
  <div class="mode-container">
    <p class="mode-content">
      {{ resume.gameMode }}
    </p>
  </div>
  <div class="score-container">
    <p class="score-content">
      {{ resume.gameScore }}
    </p>
  </div>
  <div class="note-container">
    <p class="note-content">
      {{ resume.gameStars }}
    </p>
  </div>
  <div class="icon-detail-container">
    <a [routerLink]="['/stats-details']" (click)="selectGame(resume.idPartie)">
      <svg-icon src="../../../../../assets/ic_arrow-right.svg"></svg-icon>  
    </a>
  </div>
</div>
