.word-game-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content:space-evenly;
}

.word-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F27F1B;
  box-shadow: 0 0 5px #F27F1B;
  border-radius: 10px;
  justify-content: center;
  width: 13vw;
  height: 25vh;
}

.word-container h1{
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
