    <div class="popup" [@togglePopup]="popupService.isOpen ? 'open' : 'close'" (@togglePopup.done)="onAnimationDone()">
        <div class="popup-body">
            <div class="popup-header-container">
                <div class="close-button-container">
                    <div (click)="closePopup()" class="close-button">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <h2>Ajouter un Profil</h2>
            </div>
            <div class="input-and-button">
                <form class="profil-form" [formGroup]="profilForm">
                    
                        <div class="input-container">
                            <input class="input-custom" type="text" id="name" [formControlName]="'name'" placeholder="Nom">
                        </div>
                </form>
                    <div class="submit-button-container">
                        <button type="submit" class="submit-button" (click)="addProfil()">
                            <span>&#10003;</span>
                        </button>
                    </div>
            </div>
        </div>
    </div>