.difficulty-container{
    height: auto;
    width: 20vw;
    padding: 30px 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4a5d83;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(107, 204, 242,0.7);

    h1{
        color: #fff;
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5vw;
    }
}

.difficulty-list-component{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
