<div data-testid='selectButton' class="student" *ngIf="student" (click)="onSelectStudent(student)" [ngClass]="{'selected': student.isSelected}">
    <div class="container">
        <img [attr.src]="profilePicture">
    </div>
    <p>{{student.name}}</p>
    <div class="close-button-container">
        <div data-testid='closeButton' (click)="openDPopup()" (click)="updateSelectedStudentIdToDelete(student)" class="close-button">
            <span></span>
            <span></span>
        </div>
    </div>
</div>