<div class="student-list-component">
    <div class="student-list student-list-appear">
        <div class="scroll-container-student">
            <div class="no-student-text-container" *ngIf="studentList.length === 0">
                <p class="no-student-text">Créez un nouveau profil puis sélectionnez-le</p>
            </div>
            <student *ngFor="let student of studentList" [student]=student></student>
        </div>
    </div>
    <add-profil-button [selectedStudentIdToDelete]="selectedStudentIdToDelete"></add-profil-button>
</div>
