<div class="stat-container">
  <div class="top-container">
    <student-list></student-list> 
    <div class="progression-container">
      <div class="scroll-container-progression">
        <stat-graph></stat-graph>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <div class="historical-container">
      <div class="historical-list">
        <div class="headers-list">
          <p>Date</p>
          <p>Mode</p>
          <p>Score</p>
          <p>Note</p>
          <p style="margin-right: 50px;">Detail</p>
        </div>
        <div class="scroll-container-historical">
          <stat-game></stat-game>
          <stat-game></stat-game>
          <stat-game></stat-game>
          <stat-game></stat-game>
          <stat-game></stat-game>
          <stat-game></stat-game>
        </div>
      </div>
    </div>
  </div>
</div>
