<div class="stat-container">
  <div class="top-container">
    <student-list></student-list> 
    <div class="progression-container">
      <stat-graph></stat-graph>
    </div>
  </div>
  <div class="bottom-container">
    <div class="historical-container">
      <div class="historical-list">
        <div class="headers-list">
          <p>Date</p> 
          <p>Mode</p>
          <p>Score</p>
          <p>Note</p>
          <p style="margin-right: 50px;">Detail</p>
        </div>
        <div class="scroll-container-historical">
          <ng-container *ngIf="selectedPlayerId !== null">
            <stat-game [playerId]="selectedPlayerId"></stat-game>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
