html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    -webkit-text-fill-color: #fff;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #304673;
}