<div class="game-resume-container">
    <div class="stats-header">
        <h1>
            Résumé de partie
        </h1>
    </div>
    <div class="resume-stat">
    <h1 class="mode-value" 
        [ngClass]="{
            'green': normalizeAndUppercase(gameResume?.gameMode) === 'DEBUTANT', 
            'orange': normalizeAndUppercase(gameResume?.gameMode) === 'INTERMEDIAIRE',
            'red': normalizeAndUppercase(gameResume?.gameMode) === 'AVANCE', 
            'cyan': normalizeAndUppercase(gameResume?.gameMode) === 'PERSO',
            'default': !['DEBUTANT', 'INTERMEDIAIRE', 'AVANCE', 'PERSO'].includes(normalizeAndUppercase(gameResume?.gameMode) || '')
        }">
        {{ gameResume?.gameMode | uppercase}}
        </h1>
    </div>
    <div class="resume-stat"    >
        <h1 class="basic-stat-value">{{ gameResume?.gameScore }}</h1>
        <p class="basic-stat-title">Score</p>
    </div>
    <div class="stars-container">
        <span class="star-rating">
            <star *ngFor="let _ of [].constructor(gameResume?.gameStars)"></star>
        </span>
    </div>
</div>